<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/how">How it works</a></li>
        <li><a href="/join">Join</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/blog">Blog</a></li>
    </ul>
</nav>
<div class="container">

    {{ content }}

</div><!-- /.container -->
<footer>
    <ul>
        <li>email: <a href="mailto:diversity-book-club@pooteeweet.org">diversity-book-club@pooteeweet.org</a></li>
        <li>git: <a href="https://github.com/diversity-book-club">github.com/diversity-book-club</a></li>
    </ul>
</footer>
</body>
</html>